<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js">    
        </script>
        <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
        </script>
        <link rel="stylesheet"
            href="../../static/assets/font/fontawesome-free-6.5.1-web/fontawesome-free-6.5.1-web/css/all.min.css">
        <!-- Custom CSS -->
        <link rel="stylesheet"
            href="../../static/assets/css/bookingtemplate.css">
    </head>
    <body>
        <div class="booking-panel">
            <h2>Booking Information</h2>
            <div class="booking-details">
                <p><strong>Mã thiết bị: </strong> <input type="text" id="deviceCodeInput" placeholder="Mã thiết bị"></p>
                <p><strong>Tên thiết bị: </strong> <input type="text" id="deviceNameInput" placeholder="Tên thiết bị"></p>
                <p><strong>Mô tả thiết bị: </strong> <input type="text" id="descriptionInput" placeholder="Mô tả thiết bị"></p>
                <p><strong>Tên người dùng: </strong> <input type="text" id="userNameInput" placeholder="Tên người dùng"></p>
                <p><strong>Thời gian đặt chỗ: </strong> <input type="datetime-local" id="bookingTimeInput" placeholder="Thời gian đặt chỗ"></p>
            </div>
            <div class="booking-actions">
                <button class="btn btn-primary">Xác nhận</button>
                <button class="btn btn-danger">Hủy</button>
            </div>
        </div>
    </body>
</html>