<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Form nhập email</title>
    <!-- <link rel="stylesheet" th:href="@{/assets/css/fogotpassword.css}" /> -->
    <link rel="stylesheet" th:href="@{/assets/css/index.css}" />
  </head>
  <body>
    <div class="login">
      <img
        th:src="@{assets/images/login-register.png}"
        alt="image"
        class="login__bg"
      />
      <form action="/reset-password" method="POST" class="login__form">
        <div class="login__inputs">
          <div class="login__box">
            <input
              type="email"
              class="login__input"
              id="email"
              name="email"
              placeholder="Nhập email của bạn"
              required
            />
          </div>
        </div>
        <div th:if="${param.emailexist}">
          <div class="alert alert-info">Email không tồn tại</div>
        </div>
        <input type="submit" value="send" class="login__button" />
      </form>
    </div>
    <!-- ssssssssssssssssssssssssssssssssssssssssssssssssss -->
  </body>
</html>
