<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- css -->
    <link rel="stylesheet" th:href="@{/assets/css/profile.css}" />
    <link rel="stylesheet" th:href="@{/assets/css/index.css}" />
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <!-- GG font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Freeman&family=Noto+Sans+JP:wght@100..900&family=Roboto&display=swap"
      rel="stylesheet"
    />
    <!-- font awesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <header th:replace="index :: header"></header>
    <div class="container-fluid mt-3">
      <div class="row">
        <div class="col-4" th:replace="index :: nav"></div>
        <div class="col-8">
          <div class="container p-0 mt-5"></div>
          <div class="panel mx-auto c-mb-3">
            <div class="col-sm-12 dv-title">
              <h3
                class="text-left text-uppercase border-l font-bold text-2xl px-3"
              >
                Đặt chỗ thiết bị
              </h3>

              <form action="/findDevice" method="POST" class="d-flex mb-4">
                <input
                  class="form-control w-50 mt-3"
                  type="text"
                  placeholder="Nhập tên thiết bị"
                  name="tenTB"
                />
                <button
                  type="submit"
                  class="btn btn-success ml-2"
                  style="margin-top: 14px; height: 39px"
                >
                  Tìm kiếm
                </button>
              </form>

              <div id="detail"></div>
              <div id="deviceTableWrapper">
                <!-- Wrapper div for the table to hide/show -->
                <table id="deviceTable" class="table table-bordered">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Tên Thiết bị</th>
                      <th>Mô tả</th>
                      <th>Đặt chỗ</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr th:each="thietbi : ${thietbisList}">
                      <td class="id" th:text="${thietbi.id}"></td>
                      <td th:text="${thietbi.tenTB}"></td>
                      <td th:text="${thietbi.motaTB}"></td>
                      <td>
                        <!-- <button class="selectRow btn btn-success">Chọn</button> -->
                        <a
                          th:href="@{/reservation/{id}(id=${thietbi.id})}"
                          class="selectRow btn btn-success"
                          >Chọn</a
                        >
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer th:replace="index :: footer"></footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script th:src="@{assets/js/reservation.js}"></script>
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

    <script>
      $(document).ready(function () {
        $(".selectRow").click(function () {
          $("#deviceTableWrapper").hide(); // Ẩn bảng khi nhấn nút "Chọn"
          // Lấy ID từ cột ID trong hàng chứa nút đã nhấn
          var id = $(this).closest("tr").find(".id").text();
          // Gửi yêu cầu AJAX để lấy thông tin chi tiết với ID đã lấy được
          $.ajax({
            type: "GET",
            url: "/reservation/" + id, // Đường dẫn phải thay đổi tùy theo cấu trúc của ứng dụng của bạn
            success: function (data) {
              // Hiển thị thông tin chi tiết trong phần tử có ID là "detail"
              $("#detail").html(data);
            },
          });
        });
      });
    </script>
  </body>
</html>
